INSERT INTO [cmp].[AttendanceFact]
           ([DemographicKey]
           ,[SchoolKey]
           ,[SchoolYearKey]
           ,[TotalAbsences]
           ,[TotalInstructionalDays])
SELECT [DemographicId]
    ,[SchoolId]
    ,[SchoolYear]
    ,[TotalAbsences]
    ,[TotalInstructionalDays]
FROM [$(OdsDatabaseServer)].[$(OdsDatabaseName)].[cmp].[AttendanceFact]
