/******LOAD SCHOOLYEAR DIMENSION FROM SCHOOLYEARTYPE  ******/

INSERT INTO [CompassDataMart].[cmp].[SchoolYearDimension]
([SchoolYearKey], 
 [SchoolYearDescription]
)

SELECT [SchoolYear]
      ,SUBSTRING([SchoolYearDescription], 1,5) + SUBSTRING([SchoolYearDescription], 8,9) AS [SchoolYearDescription]
FROM [edfi].[SchoolYearType]
WHERE [SchoolYear] >= (SELECT [SchoolYear] FROM [edfi].[SchoolYearType] WHERE [CurrentSchoolYear] = 1)